:root {
    --backgroundcolor: #222222;
    --Goud: #C5B673;
    /*--lettertype:  Verdana sans-serif;*/
    --tekstkleur: white;
    --font1: font-family: 'Dancing Script', cursive;
    --font2: font-family: 'Akaya Telivigala', cursive;
}

body{
    background-color: var(--backgroundcolor);
    font-family: 'Akaya Telivigala', cursive;
}


/*opmaak header*/
header{
    width: 95%;
    margin: 0 auto;
    position: relative;
    font-family: 'Dancing Script', cursive;
}
header figure:nth-of-type(1){
    width: 5%;
    min-width: 70px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
header figure:nth-of-type(1) img{
    width: 100%;
}

header figure:nth-of-type(2){
    margin: 0 auto;
    width: 100%;
    background-image: url(../images/pexels.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
}
header h1{
    position: absolute;
    top: 350px;
    left: 100px;
    color: var(--backgroundcolor);
    font-size: 4rem;
    font-weight: lighter;

}
h1,h2 {
    color: var(--Goud);
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid var(--Goud);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
table tr {
    border: 2px solid var(--Goud);
}
table tr td {
    border: 2px solid var(--Goud);
    padding: 10px;
    text-align: center;
}
table tr td:nth-of-type(3) {
    width: 15%;
}
p {
    color: var(--Goud);
    text-align: center;
}
header span{
    font-weight: bold;
    color: var(--Goud);
}
form {
    color: var(--Goud);
    text-align: center;
}
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: lightblue;
}
/*Set a golden border around the input type text*/
input[type=text] {
  border: 5px solid var(--Goud);
  border-radius: 4px;
}
input[type=email] {
  border: 5px solid var(--Goud);
  border-radius: 4px;
}
input[type=tel] {
  border: 5px solid var(--Goud);
  border-radius: 4px;
}
input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=email]:focus {
  background-color: lightblue;
}
input[type=tel] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=tel]:focus {
  background-color: lightblue;
}
input[type=number] {
  width: 37%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
table th {
    width: 15%;
}
select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid var(--Goud);
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
/*CSS style for the submit button */
input[type=submit] {
  background-color: var(--Goud);
  color: var(--backgroundcolor);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*Make the text bigger in submit button */
input[type=submit] {
  font-size: 1.2rem;
}
input[type=submit]:hover {
  font-size: 1.2em;
}
/*CSS style for the Home button */
.form a {
  background-color: var(--Goud);
  color: var(--backgroundcolor);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
}
/* Change the last 3 table row backgrounds
table tr:nth-last-child(-n+2) {
  background-color: #2C2C2C;
}
/* Change the last 3 table row text color*/
/* table tr:nth-last-child(-n+2) {
  color: green;
} */
/* change style inside the option and select buttons for the last 3 table rows */
/* table tr:nth-last-child(-n+2) select {
  background-color: #2C2C2C;
  color: red;
} */
/* Change inside style of type number of the last 3 table rows */
/* table tr:nth-last-child(-n+2) input[type=number] {
  background-color: #2C2C2C;
  color: red;
}  */
.phonebestelling {
  display: none;
}
#bestelling {
  display: none;
}

iframe {
  width: 75%;
  height: 500px;
  border: 0;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
  border-radius: 5px;
}




/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 766px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  form {
    display: inline-block;
  }
  /* Hide the table */
  table {
    display: none;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  input[type=submit] {
    font-family: 'Akaya Telivigala', cursive;
  }
  .phonebestelling {
    display: block;
  }

  /* Center the textaera with label id bestelling */
  #bestelling {
    display: block;
    margin: 0 auto;
  }
  
}