:root {
  --backgroundcolor: #222222;
  --Goud: #C5B673;
  --scroll: #3b3b3b;
  --scrollhover: #c5b6735d;
  /*--lettertype:  Verdana sans-serif;*/
  --tekstkleur: white;
  --font1: font-family: 'Dancing Script', cursive;
  --font2: font-family: 'Akaya Telivigala', cursive;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 10px;
  /* height: 2px; */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollhover);
}

body{
  background-color: var(--backgroundcolor);
  font-family: 'Akaya Telivigala', cursive;
  height: 100%;
}

body a i {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 2.5rem;
  position: fixed;
  transition: 500ms;
}
body a i:hover {
  transition: 500ms;
  scale: 1.2;
}

h1, h2 {
  color: var(--Goud);
  text-align: center;
}

p {
  color: var(--tekstkleur);
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-family: 'Akaya Telivigala', cursive;}

.insta {
  height: 480px;
}

iframe {
  width: 70%;
  height: 100%;
  border: 0;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px 1px var(--Goud); */
  border-style: inset;
  border-width: 4px;
  border-color: var(--Goud);
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 766px) {
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  h1 {
    display: block;
    padding-top: 100px;
  }

  h2 {
    display: block;
    padding-top: 50px;
  }

  iframe {
    display: block;
    height: 75%;
    width: 90%;
  }
}