:root {
  --backgroundcolor: #222222;
  --Goud: #C5B673;
  --scroll: #3b3b3b;
  --scrollhover: #c5b6735d;
  /*--lettertype:  Verdana sans-serif;*/
  --tekstkleur: white;
  --font1: font-family: 'Dancing Script', cursive;
  --font2: font-family: 'Akaya Telivigala', cursive;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 10px;
  /* height: 2px; */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollhover);
}

body{
  background-color: var(--backgroundcolor);
  font-family: 'Akaya Telivigala', cursive;
}


/*opmaak header*/
/* header{
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Dancing Script', cursive;
} */
header figure:nth-of-type(1) img{
  width: 100%;
}

header div {
  padding-bottom: 35px;
}

.background{
  width: 100%;
  height: 45px;
  border-bottom-style: solid;
  border-bottom-color: var(--Goud);
  border-bottom-width: 3px;
  margin-bottom: 50px;
}

.button{
  padding: 8px 15px;
  text-align: center;
  background-color: var(--Goud);
  color: white;
  transition: 500ms;
  text-decoration: none;
  font-family: "Akaya Telivigala", cursive;
  border-radius: 4px;
  border: 3px;
  border-style: solid;
  border-color: var(--Goud);
  cursor: pointer;
}

.buttonTable{
  font-weight: bold;
  padding: 8px 15px;
  text-align: center;
  border: none;
  background-color: var(--backgroundcolor);
  color: white;
  transition: 500ms;
  font-size: 1.1rem;
  /* height: 15px; */
  text-decoration: none;
  font-family: "Akaya Telivigala", cursive;
  border-radius: 4px;
  border: 4px;
  border-style: solid;
  border-color: var(--backgroundcolor);
  cursor: pointer;
}

.buttonTable:hover{
  background-color: var(--backgroundcolor);
  color: var(--tekstkleur);
  border: 4px;
  border-style: inset;
  border-color: red;
  cursor: pointer;
  transition: 500ms;
}

.button:hover{
  background-color: white;
  color: var(--Goud);
  border: 3px;
  border-style: inset;
  border-color: var(--Goud);
}

.hoeveelheid{
  /* padding: 10px 15px;
  padding-right: 0px;
  border-style: inset;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
  /* transition: 500ms; */
  /* border-color: var(--Goud); */
  /* height: 10px; */ 
  padding: 10px 15px;
  padding-right: 10px;
  border: 5px;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
  /* transition: 500ms; */
  border-color: var(--Goud);
  border-style: inset;
}
.hoeveelheid:focus{
  outline: none;
  background-color: lightgray;
  border-style: inset;
}

.logo{
  /* position: absolute;
  top: -42px;
  width: 110px;
  height: 110px; */
  /* position: fixed; */
  width: 110px;
  height: 110px;
  top: -40px;
  margin: auto 0;
  position: relative;
  /* margin: 0 auto; */
  /* margin-bottom: 50px; */
  /* margin-top: 10px; */
}
/* opmaak main */

div{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-color: var(--Goud);
  /* border-style: solid; */
  border-width: 1px;
}
main > p >a {
  text-decoration: none;
  color: white;
  background-color: var(--Goud);
  padding: 10px 20px;
  transition: 500ms;
}
main > p > a:hover {
  background-color: white;
  color: var(--Goud);
}
main > p > a {
  /* Center the buttons */
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 170px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: var(--Goud);
  padding: 10px 20px;
  transition: 500ms;
}
main{
  width: 70%;
  margin: 0 auto;
  margin-top: 200px;
}

main h1:nth-of-type(1) {
  margin-top: -175px;
}
main h1:nth-of-type(2) {
  margin-top: 75px;
}

h1,h2 {
  color: var(--Goud);
  text-align: center;
}

table {
  /* display: flex; */
  justify-content: space-around;
  width: 100%;
  min-width: 610px;
  border-collapse: collapse;
  border: 5px solid var(--Goud);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--tekstkleur);
}
table tr {
  border: 2px solid var(--Goud);
  height: 30px;
}
table tr td {
  border: 2px solid var(--Goud);
  padding: 10px;
  text-align: center;
  font-size: 120%;
}
#overzichtBestelling {
  display: none;
}
#overzichtTaart {
  display: none;
}

#categorie {
  width: 20%;
}
#amount {
  width: 15%;
}
#personen {
  width: 11%
}
#type {
  width: 12%;

}
#smaak {
  width: 30%;
}
#afwerking {
  width: 20%;
}
#prijs {
  width: 15%;
}

@keyframes slide-in {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(120%);
  }
}

.dialog {
  font-size: 1.1rem;
  border-radius: 10px;
  border-style: inset;
  border-color: var(--Goud);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 350px;
  height: 115px;
  /* place it in the right under corner */
  /* position: fixed; */
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: var(--backgroundcolor);
  animation: slide-out 0.5s;
}
.dialog[open] {
  animation: slide-in 0.5s;
}
.dialog[closing] {
  animation: slide-out 0.5s;
  animation-fill-mode: forwards;
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.errorbutton {
  background-color: var(--Goud);
  color: white;
  border: solid 3px var(--Goud);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Akaya Telivigala", cursive;
  font-weight: bold;
  cursor: pointer;
  transition: 500ms;
}
.errorbutton:hover {
  background-color: white;
  color: var(--Goud);
  border: inset 3px var(--Goud);
}
p {
  color: var(--Goud);
  text-align: center;
}
header span{
  font-weight: bold;
  color: var(--Goud);
}
form {
  color: var(--Goud);
  text-align: center;
}
input[type=text] {
  width: 70%;
  min-width: 575px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: lightgray;
  outline: none;
}
/*Set a golden border around the input type text*/
input[type=text] {
  border: 5px inset var(--Goud);
  border-radius: 4px;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1rem;
}
input[type=email] {
  width: 70%;
  border: 5px solid var(--Goud);
  border-radius: 4px;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1rem;
}
input[type=tel] {
  min-width: 575px;
  border: 5px solid var(--Goud);
  border-radius: 4px;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1rem;
}
input[type=email] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: inset;
}
input[type=email]:focus {
  background-color: lightgray;
  outline: none;
}
input[type=tel] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: inset;
}
input[type=tel]:focus {
  background-color: lightgray;
  outline: none;
}
input[type=radio] {
  color: var(--tekstkleur);
  background-color: var(--Goud); 
}
input[type=number] {
  border: 4px solid var(--Goud);
  border-style: inset;
  border-radius: 4px;
  padding: 12px 20px;
}
table th {
  /* width: 15%; */
  color: var(--Goud);
  font-size: 1.2rem
}
select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 70%;
  min-width: 575px;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px inset var(--Goud);
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1rem;
}
textarea:focus {
  background-color: lightgray;
  outline: none;
}

section div div{
  width: 125px;
  height: 125px;
  margin: 0 auto;

}

section div img{
  width: 100%;
}

section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 75px;
  margin-left: 20%;
  margin-right: 20%;
}

section > p > a{
  width: fit-content;
}

/* table{
  color: white
} */

/* table td{
  padding: 4px
} */

input[type="number"] {
  width: 30px;
}

h2{
  font-size: 2rem;
  text-align: center;
  color: var(--Goud);
  margin-bottom: 75px;
  margin-top: 100px;
  font-family: 'Dancing Script', cursive;
}
h3{
  border-bottom: 1px solid var(--Goud);
  padding-bottom: 20px;
  color: white;
}
p{
  color: white;
}

.container3{
  justify-content: center;
}
.container3 > div:nth-of-type(1){
  margin-right: 140px;
}

.container4{
  justify-content: center;
}
.container4 > div:nth-of-type(2){
  margin-left: 140px;
  margin-right: 140px;

}
.container5{
  justify-content: center;
}
.container5 > div:nth-of-type(2){
  margin-left: 140px;
  margin-right: 140px;
}


/* opmaak footer */

footer{
  width: 95%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

/* .button{
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  border: none;
  background-color: var(--Goud);
  color: white;
  transition: 500ms;
  margin-right: 50px;
  font-family: "Akaya Telivigala", cursive;
  font-size: 1rem;
  text-decoration: none;
}

.button:hover{
  background-color: white;
  color: var(--Goud);
} */

footer p{
  color: var(--Goud);
  font-family: 'Akaya Telivigala', cursive;
}

/*Make this page also responsive for phones if to big places images beneeth each other*/
@media screen and (max-width: 766px) {
  table {
    display: none;
  }

  #overzichtBestelling {
    display: block;
  }
  /* #overzichtTaart { */
    /* display: block; */
    /* width: 110%;
    height: auto; */
  /* } */

  #overzichtBestelling ul {
    color: var(--tekstkleur);
    font-size: 1.1rem;
    margin-bottom: -5px;
    margin-top: -5px;
    padding: 0;
    margin: 0;
  }
  #overzichtBestelling ul span {
    color: var(--Goud);
    font-size: 1.2rem;
  }

  #overzichtTaart ul {
    color: var(--tekstkleur);
    font-size: 1.1rem;
    /* margin-bottom: -5px;
    margin-top: -5px; */
    padding: 0;
    margin: 0;
  }
  #overzichtTaart ul span {
    color: var(--Goud);
    font-size: 1.2rem;
  }

  /* set the ul and aside next to eachother */
  #overzichtBestelling {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  #overzichtTaart {
    display: flex;
    align-items: center;
  }


  .verwijderen {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-wrap: wrap;
  }

  input[type=text] {
    width: 100%;
    min-width: 150px;
  }
  input[type=email] {
    width: 100%;
    min-width: 150px;
  }
  input[type=tel] {
    width: 100%;
    min-width: 150px;
  }
  textarea {
    width: 100%;
    min-width: 150px;
  }
}